.conversations {
  padding: 16px;
}

.conversations header {
  margin: 16px 0;
  max-width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.conversations header h2 {
  font-size: 2em;
  font-weight: 600;
}

.conversations .list {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin-left: -16px;
}

.conversation {
  flex: 1 1 28%;
  border: 1px solid gray;
  border-radius: 4px;
  margin: 16px;
  padding: 16px;
}

.conversation .name {
  font-size: smaller;
  font-weight: 600;
}

.conversation .chat {
  margin-top: 16px;
  line-height: 2.4em;
}

.conversation .tags {
  margin-top: 16px;
  margin-left: -8px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.conversation .tags li {
  margin: 8px;
}
