.topics {
  padding: 16px;
}

.topics .list {
  margin-left: -16px;
}

.topic {
  margin: 16px;
  padding: 8px 0;
  border-bottom: 1px solid lightgray;
  width: calc(100% - 32px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topic .right {
  flex: 0 0 32px;
}

.topic .left {
  flex: 1 0 auto;
}

.topic .name {
  font-size: 2em;
  font-weight: 600;
}

.topic .count {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: lightgray;
  border: 1px solid gray;
}

.topic .tags {
  margin-top: 16px;
  margin-left: -8px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.topic .tags li {
  margin: 8px;
}
